section.controll 
    .container.controll__container 
        p.title.controll__title SOCAL MARKETING & ANALYTICS
        p.subtitle.controll__subtitle Take control of your data
        .controll__block 
            a.btn.controll__btn(href="#") GET STARTED
            a.btn.controll__btn(href="#") EXPLORE FEATURES  