footer.footer 
    .container.footer__container 
        .footer-top 
            a(href="#").logo.footer__logo
                img(alt="Misocial", src="img/logo2.png")
            div 
                +navigation(menu, "footer")
                a.btn.footer__btn(href="#") get started
        .footer-bottom 
            p.footer__copy © 2017 Mass Impressions & Tranmautritam. Make the right impression.
            div
                a.footer__link(href="#")
                    img(src="img/fb.svg")
                a.footer__link(href="#")
                    img(src="img/twitter.svg")
                a.footer__link.g(href="#")
                    img(src="img/google-plus.svg")
                a.footer__link(href="#")
                    img(src="img/instagram.svg")