section.hero
    .container.hero__container 
        p.hero__title.title SOCIAL MARKETING & ANALYTICS
        p.subtitle.hero__subtitle Pricing Table
        p.text.hero__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
        a.hero__btn(href="#plan") 
            img(alt="Misocial" src="img/arrow.png")
