section.plan
    .container.plan__container 
        p.title.plan__title MIsocial
        p.subtitle.plan__subtitle Select a Plan
        p.text.plan__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
        