-let carts = [{img: "img/cart1.png", name: "personal", price: "0", text: "Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt ut. Labore et dolore magna aliqua. quis nostrud exercitation ullamco laboris. Ea commodo consequat."}, {img: "img/cart2.png", name: "personal", price: "29", text: "Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt ut. Labore et dolore magna aliqua. quis nostrud exercitation ullamco laboris. Ea commodo consequat."}, {img: "img/cart3.png", name: "personal", price: "49", text: "Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt ut. Labore et dolore magna aliqua. quis nostrud exercitation ullamco laboris. Ea commodo consequat."}];
section.plan#plan
    .container.plan__container 
        p.title.plan__title MIsocial
        p.subtitle.plan__subtitle Select a Plan
        p.text.plan__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
        .plan__block
            for cart in carts 
                .plan__item 
                    .plan__image 
                        img(alt="Misocial", src=cart.img)
                    p.plan__name= cart.name
                    span.plan__price 
                        sup $
                        span= cart.price
                        sub /mounth
                    p.text.plan__text= cart.text
                    a.btn.plan__btn(href="#") select plan