.plan
    padding: 120rem 0
    background-color: #f9fafc
    &__title
        margin-bottom: 28rem
        color: #9fa4af
        &::before, &::after
            background-color: #6e45e2
    &__subtitle
        font-size: 60rem
        color: #4f4f6f
        margin-bottom: 35rem
    &__text
        max-width: 394rem
        margin-bottom: 94rem